extends layout

block content
    header
        h1= title
    section.marked
        h2 Web Development 1:
        ul
            li
                a(href='/bcit/web-dev-1/a1' title='' aria-label='') Assignment 1
            li
                a(href='/bcit/web-dev-1/a2' title='' aria-label='') Assignment 2
            li
                a(href='/bcit/web-dev-1/a3' title='' aria-label='') Assignment 3
            li
                a(href='/bcit/web-dev-1/a4' title='' aria-label='') Assignment 4
            li
                a(href='/bcit/web-dev-1/a5' title='' aria-label='') Assignment 5
            li
                a(href='/bcit/web-dev-1/a6' title='' aria-label='') Assignment 6
            li
                a(href='/bcit/web-dev-1/landing-page' title='' aria-label='') Landing Page
            li
                a(href='https://www.travelcanada.ihawp.com' title='' aria-label='') Country Page
        h2 Web Scripting 1:
        ul
            li
                a(href='/bcit/web-scripting-1/a1' title='' aria-label='') Assignment 1
            li
                a(href='/bcit/web-scripting-1/a2' title='' aria-label='') Assignment 2
            li
                a(href='/bcit/web-scripting-1/a3' title='' aria-label='') Assignment 3
                ul.disc.py-2
                    li
                        a(href='/bcit/web-scripting-1/a3/bonus-1' title='' aria-label='') Assignment 3: Bonus 1
                    li
                        a(href='/bcit/web-scripting-1/a3/bonus-2' title='' aria-label='') Assignment 3: Bonus 2
            li
                a(href='/bcit/web-scripting-1/a4' title='' aria-label='') Assignment 4