extends layout

block content
    header(class='')
        h1= title
    section
        h2 Web Development 1:
        ul(class='disc')
            li
                a(href='') assignment-1
            li
                a(href='') assignment-2
            li
                a(href='') assignment-3
            li
                a(href='') assignment-4
            li
                a(href='') assignment-5
            li
                a(href='') assignment-6
            li
                a(href='https://www.ihawp.com/bcit/web-dev-1/landing-page') landing-page
            li
                a(href='https://www.travelcanada.ihawp.com' title='' aria-label='') country-page
        h2 Web Scripting 1:
        ul
            li
                a(href='') assignment-1
            li
                a(href='') assignment-2
            li
                a(href='') assignment-3
            li
                a(href='') assignment-4
