extends layout

block content
    header(class='text-center')
        h1(class='bg-5 br-4 px-1 mb-1') Blog
    section(class='flex flex-col gap-1')
        h2(class='b-only-bottom-1 bc-5 bs-solid pb-1 mb-1 mt-2') Recent Posts:
        ul(class='flex flex-wrap gap-1')
            each item in content
                li
                    a(class='bw-1 bc-6 bs-solid br-4' href=`/blog/${item.id}`)= item.title