extends layout

block content
    header
        h1 Blog
    section
        h2 Recent Posts

        each item in content
            p= item.id



    script(src='../javascripts/pug-blog.js' type='module')