extends layout

block content
    header
        h1 Blog for ihawp.com
    section
        h2 Recent Posts:
        ul
        each item in content
            li
                a(href=`https://ihawp.com/blog/${item.id}`)= item.title
