extends layout

block content
    header
        h1 Blog for ihawp.com
    section(class='flex flex-col gap-2 bg-5 p-1 br-8')
        h2 Recent Posts:
        ul(class='flex flex-col gap-1')
            each item in content
                li
                    a(class='c-6' href=`/blog/${item.id}`)= item.title
