extends layout

block content
    header
        h1 ihawp.com Blog
    section.marked
        h2 Recent Blog Posts:
        ul
            each item in content
                li
                    a(href=`/blog/${item.id}`)= item.title