extends layout

block content
  header
    nav(aria-label='Back To Home Navigation')
      ul
        li
          a(href='https://www.ihawp.com' class='text-underline c-2') Back To Home
  h1= message
  h2= error.status
  details #{error.stack}
    summary(class='c-3') More Info