extends layout

block content
    h2 wow this is the index
    p need to get the content from projects

    header
        h1 Warren Chemerika
        h2 Web Developer
        p Specializing in JavaScript related projects


    section
        h2 Recent Work

    section
        h2 Where did I study?