doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Warren Chemerika | ihawp.com')
    meta(name='description' content='Warren Chemerika | ihawp.com')
    link(rel='icon' href='/public_html/public/shooting-star.webp')
  body(class='flex flex-col items-center')
    header(class='flex flex-row bg-6 px-1 py-half br-8 justify-between mb-1')
      nav(aria-label='Main Navigation' class='ml-half')
        ul(class='flex flex-row justify-center gap-2')
          li
            a(class='font-weight-600' href='/blog' title='' aria-label='') Home
          li
            a(class='font-weight-600' href='https://www.linkedin.com/in/warren-chemerika-628b15275' title='Warren Chemerika on LinkedIn' aria-label='Link to Warren Chemerikas Linkedin Profile') LinkedIn
          li
            a(class='font-weight-600' href='https://www.github.com/ihawp' title='ihawp on GitHub' aria-label='Link to my Github account, my username is ihawp') GitHub
          li
            a(class='font-weight-600' href='/blog' title='' aria-label='') Blog
      nav()
        ul()
          li
            a(class='bg-3 px-half py-1 br-8 font-weight-600' href='mailto:ihawp@ihawp.com' title='Send me an email (ihawp@ihawp.com)' aria-label='Send me an email now by pressing this button') Contact Me Now
    main(class='flex flex-col items-center')
      block content
    footer(class='flex flex-row items-center justify-between px-1')
      p(class='c-4') &copy; ihawp 2025.
      nav(aria-label='Footer Navigation')
        ul(class='flex flex-row gap-half')
          li
            a(href='https://www.ihawp.com' class='c-4') Home
          li
            a(href='https://www.linkedin.com/in/warren-chemerika-628b15275/' class='c-4') LinkedIn
          li
            a(href='https://www.github.com/ihawp' class='c-4') Github