doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      nav
        ul(class='flex gap-half list-none p-0')
          li
            a(href='https://www.ihawp.com'
              title='Warren Chemerika | ihawp.com'
              aria-label='Anchor link to navigate to ihawp.com') Home
    main
      block content
    footer
      p &copy; ihawp 2025.