doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Warren Chemerika | ihawp.com')
    meta(name='description' content='Warren Chemerika | ihawp.com')
    link(rel='icon' href='/public_html/public/shooting-star.webp')
  body(class='flex flex-col items-center')
    header(class='flex flex-row bg-6 p-1 br-8 justify-between')
      nav(class='')
        ul
          li
            a(class='' title='' aria-label='') shooting star
      nav(aria-label='Main Navigation')
        ul(class='flex flex-row gap-2')
          li
            a(class='' title='Warren Chemerika | LinkedIn' aria-label='Link to Warren Chemerikas Linkedin Profile') LinkedIn
          li
            a(class='' title='' aria-label='') LinkedIn
          li
            a(class='' title='' aria-label='') Contact Me Now
    main(class='flex flex-col items-center')
      block content
    footer(class='flex flex-row items-center justify-between px-1')
      p(class='c-4') &copy; ihawp 2025.
      nav(aria-label='Footer Navigation')
        ul(class='flex flex-row gap-half')
          li
            a(href='https://www.ihawp.com' class='c-4') Home
          li
            a(href='https://www.linkedin.com/in/warren-chemerika-628b15275/' class='c-4') LinkedIn
          li
            a(href='https://www.github.com/ihawp' class='c-4') Github