doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Warren Chemerika | ihawp.com')
    meta(name='description' content='Warren Chemerika | ihawp.com')
    link(rel='icon' href='/public_html/public/shooting-star.webp')
  body(class='flex flex-col items-center')
    header(class='flex bg-5 px-1 py-half br-4 justify-between mb-1')
      nav(aria-label='Main Navigation' class='ml-1 flex-grow-1')
        ul(class='none')
          li
            button(id='open-mobile-nav' class='rotate-90 font-weight-700 bg-none c-2 font-size-2-5 b-none') |||
        ul(class='flex flex-col-sm gap-2 display-sm justify-between' id='mobile-nav')
          li
            ul(class='flex flex-col-sm gap-2')
              li
                a(class='font-weight-700' href='/' title='' aria-label='') Home
              li
                a(class='font-weight-700' href='/blog' title='' aria-label='') Blog
              li
                a(class='font-weight-700' href='https://www.linkedin.com/in/warren-chemerika-628b15275' title='Warren Chemerika on LinkedIn' aria-label='Link to Warren Chemerikas Linkedin Profile') LinkedIn
              li
                a(class='font-weight-700' href='https://www.github.com/ihawp' title='ihawp on GitHub' aria-label='Link to my Github account, my username is ihawp') GitHub
          li
            a(class='bg-3 px-half py-1 br-4 font-weight-600' href='mailto:ihawp@ihawp.com' title='Send me an email (ihawp@ihawp.com)' aria-label='Send me an email now by pressing this button') Contact Me Now
      nav()
        ul()
    main(class='flex flex-col items-center')
      block content
    footer(class='flex flex-row items-center justify-between px-1')
      p(class='c-4') &copy; ihawp 2025.
      nav(aria-label='Footer Navigation')
        ul(class='flex flex-row gap-half')
          li
            a(href='/privacy' class='c-4') Privacy Policy
    script(src='/javascripts/pug-navigation.js')