doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Warren Chemerika | ihawp.com')
    meta(name='description' content='Warren Chemerika | ihawp.com')
    link(rel='icon' href='/public_html/public/shooting-star.webp')
  body(class='flex flex-col items-center')
    main(class='flex flex-col items-center')
      block content
    footer(class='')
      p &copy; ihawp 2025.