*, *:before, *:after {
    box-sizing: border-box;
}
:root {
    --1: #282828;
    --2: #caffca;
    --3: #347034
}
body {
    max-width: 31.25rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.5em;
}
h1, h2, h3 {
    font-family: 'Georgia', serif;
}
p, a, cite {
    font-family: sans-serif;
}
ul {
    list-style: none;
}
cite {
    margin: 0 0 0 0.3rem;
}
img {
    border-radius: 10rem;
}

a:visited {
   color: var(--3);
}
a:hover, a:focus, a:active {
    color: rgb(52, 112, 52, 0.8);
}

/* text decoration */
.text-dec-none {
    text-decoration: none;
}

/* flex / flex media*/
.flex-row, .flex-col {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

/* m b */
.mb-2 {
    margin-bottom: 2rem;
}
.mb-4 {
    margin-bottom: 4rem;
}

/* font weight */
.font-weight-600 {
    font-weight: 600;
}

/* b b */
.bb-2 {
    border-bottom: #282828 0.15rem solid;
}

/* width */
.w-full {
    width: 100%;
}

/* align items */
.items-center {
    align-items: center;
}

/* justify content */
.justify-center {
    justify-content: center;
}

/* text-center */
.text-center {
    text-align: center;
}

/* color */
.c-1 {
    color: var(--1);
}
.c-2 {
    color: var(--2);
}
.c-3 {
    color: var(--3);
}

/* background */
.bg-2 {
    background: var(--2);
}
.bg-3 {
    background: var(--3);
}

/* gap */
.gap-3 {
    gap: 3rem;
}

/* padding x */
.px-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* padding y */
.py-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}