html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --1: #222222;
  --2: #fff;
}

body {
  font-family: sans-serif;
  margin: 1rem;
  background: var(--1);
}
a, body {
  color: var(--2);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* List Style */
.list-none {
  list-style: none;
}

section {
  background: red;
}

/* Flex */
.flex {
  display: flex;
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

/* Align Items */
.items-center {
  align-items: center;
}

section, header {
  width: 100%;
}

/* Gap */
.gap-half {
  gap: .5rem;
}


/* Padding */
.p-0 {
  padding: 0;
}

/* Media */
@media (min-width: 50em) {
  section, header {
    width: 49rem;
  }
}

@media (min-width: 75em) {
  section, header {
    width: 74rem;
  }
}
